@use '../abstracts/variables';

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: variables.$color-yellow;
    position: relative;
    width: 100%;
    height: 100vh;
    color: variables.$color-gray-950;
}